.engagement-comments {
  margin-top: 30px;

  &__header {
    position: relative;
    display: flex;
    justify-content: flex-end;
    gap: 70px;

    &_wrapper {
      position: absolute;
      bottom: 0px;
      left: 0px;
      padding: 20px;
      border-radius: 8px;
      background-color: rgba(236, 239, 243, 1);
      width: 100%;
    }

    & h2 {
      max-width: 580px;
      width: 100%;
      margin: 0px !important;
      font-size: 32px;
      font-weight: 700;
      line-height: 38.4px;
      color: var(--page-color-red);
    }

    &_img {
      position: relative;
      width: 600px;
      height: 216px;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__description {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  &__text {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: var(--page-color-black);

    &_red {
      color: var(--page-color-red);
    }
  }

  &__subtext {
    font-size: 12px;
    font-weight: 700;
    line-height: 22px;
    color: var(--page-color-link);

    &_m {
      font-size: 14px;
      font-weight: 400;
    }

    &_l {
      font-size: 16px;
      font-weight: 400;
      text-align: right;
    }
  }

  &__wrapper {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
  }

  &__card {
    padding: 20px;
    border-radius: 8px;
    border: 1px solid var(--page-color-gray);

    &_text {
      font-size: 14px;
      font-weight: 400;
      line-height: 18.2px;
      color: var(--page-color-link);
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    width: 100%;
    gap: 10px;
    height: 60px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 50px auto 0px auto !important;
    color: var(--page-color-black);
    background-color: var(--page-color-white) !important;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid var(--page-color-dark-blue);
    white-space: nowrap;
    outline: none !important;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 0.3px;
    transition: border-color 0.3s ease, color 0.3s ease;

    & svg path {
      transition: all 0.3s;
    }

    &:hover {
      color: rgba(228, 25, 16, 1) !important;
      border-color: rgba(228, 25, 16, 1) !important;
    }

    &:active {
      border-color: var(--page-color-link) !important;
      color: var(--page-color-link) !important;

      & svg path {
        stroke: var(--page-color-link);
      }
    }
  }

  &_end {
    display: flex;
    justify-content: flex-end;
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__container {
    height: 200px;
  }

  &__modal {
    padding-right: 10px;
  }

  &__row {
    margin-top: 20px;
  }

  &__skeleton {
    background: linear-gradient(
        100deg,
        rgba(255, 255, 255, 0) 40%,
        rgba(255, 255, 255, 0.5) 50%,
        rgba(255, 255, 255, 0) 60%
      )
      #ededed;
    background-size: 200% 100%;
    background-position-x: 180%;
    animation: 1.2s loading ease-in-out infinite;

    &_line {
      background-color: var(--page-color-gray);
      min-height: 16px;
      min-width: 100px;
      border-radius: 8px;
      animation-delay: 0.05s;

      &:last-child {
        margin-top: 5px;
      }
    }

    &_text {
      background-color: var(--page-color-gray);
      min-height: 200px;
      margin-bottom: 16px;
      border-radius: 8px;
      animation-delay: 0.05s;
    }

    &_title {
      background-color: var(--page-color-gray);
      min-height: 16px;
      max-width: 600px;
      width: 100%;
      border-radius: 8px;
      animation-delay: 0.05s;
    }

    &_subtitle {
      background-color: var(--page-color-gray);
      min-height: 16px;
      min-width: 200px;
      border-radius: 8px;
      animation-delay: 0.05s;
    }
  }

  @keyframes loading {
    to {
      background-position-x: -20%;
    }
  }

  &:last-child {
    margin-bottom: 100px;
  }
}
