.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 8px;
  overflow: hidden;

  &__th {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    height: 43px;
    text-align: center;
    display: flex;
    align-items: center;
  }

  &__row {
    display: flex;
    gap: 4px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 77px;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid var(--page-color-gray);
    background-color: var(--page-color-white);
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;

    & svg path {
      transition: stroke 0.3s;
    }

    &:hover {
      background-color: var(--page-color-gray);
    }

    &:active {
      border-color: rgba(228, 25, 16, 1);
      background-color: var(--page-color-white);
    }

    &_disabled {
      background-color: var(--page-color-white) !important;
      border: 1px solid var(--page-color-gray) !important;
      cursor: default;

      & .table__sorting {
        color: rgba(208, 212, 217, 1) !important;
      }

      & svg path {
        stroke: var(--page-color-gray) !important;
      }
    }
  }

  &__sorting {
    font-size: 8px;
    font-weight: 400;
    line-height: 9.72px;
    text-align: center;
  }

  &__sort-asc .table__wrapper:first-child {
    background-color: var(--page-color-dark-blue) !important;
    border: 1px solid var(--page-color-gray) !important;
    cursor: default;

    & .table__sorting {
      color: var(--page-color-white) !important;
    }

    & svg path {
      stroke: var(--page-color-white) !important;
    }
  }

  &__sort-desc .table__wrapper:last-child {
    background-color: var(--page-color-dark-blue) !important;
    border: 1px solid var(--page-color-gray) !important;
    cursor: default;

    & .table__sorting {
      color: var(--page-color-white) !important;
    }

    & svg path {
      stroke: var(--page-color-white) !important;
    }
  }

  & th {
    background-color: var(--page-color-white);
    vertical-align: middle;
    padding: 10px 20px;
    border-top: 1px solid var(--page-color-gray);
    border-bottom: 1px solid var(--page-color-gray);
    font-size: 14px;
    font-weight: 400;
    line-height: 17.01px;
    text-align: center;
    color: var(--page-color-link);

    &:first-child {
      width: 350px;
      border-left: 1px solid var(--page-color-gray);
      border-top-left-radius: 8px;
    }

    &:nth-child(2) {
      width: 160px;
    }

    &:last-child {
      border-right: 1px solid var(--page-color-gray);
      border-top-right-radius: 8px;
      width: 90px;
    }
  }

  & td {
    padding: 10px;
    background-color: var(--page-color-white);
    border-bottom: 1px solid var(--page-color-gray);
    color: var(--page-color-black);
    font-size: 14px;
    font-weight: 400;
    line-height: 17.01px;
    text-align: center;

    &:first-child {
      text-align: left;
      padding: 10px 20px;
      border-left: 1px solid var(--page-color-gray);
    }

    &:last-child {
      border-right: 1px solid var(--page-color-gray);
    }

    &[colspan] {
      text-align: center;
    }
  }

  & tbody tr:nth-child(even) td {
    background-color: rgba(236, 239, 243, 1);
  }

  & tbody tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
  }

  & tbody tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
  }

  &__skeleton {
    background: linear-gradient(
        100deg,
        rgba(255, 255, 255, 0) 40%,
        rgba(255, 255, 255, 0.5) 50%,
        rgba(255, 255, 255, 0) 60%
      )
      #ededed;
    background-size: 200% 100%;
    background-position-x: 180%;
    animation: 1.2s loading ease-in-out infinite;

    &_line {
      background-color: var(--page-color-gray);
      min-height: 16px;
      min-width: 140px;
      border-radius: 8px;
      animation-delay: 0.05s;
    }

    &_rectangle {
      background-color: var(--page-color-gray);
      height: 40px;
      width: 77px;
      border-radius: 4px;
      margin-top: 4px;
      animation-delay: 0s;
    }
  }

  @keyframes loading {
    to {
      background-position-x: -20%;
    }
  }
}
