.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 8px;
  overflow: hidden;

  & th {
    background-color: var(--page-color-white);
    vertical-align: middle;
    padding: 10px 20px;
    border-top: 1px solid var(--page-color-gray);
    border-bottom: 1px solid var(--page-color-gray);
    font-size: 14px;
    font-weight: 400;
    line-height: 17.01px;
    text-align: left;
    color: var(--page-color-link);

    &:first-child {
      width: 350px;
      border-left: 1px solid var(--page-color-gray);
      border-top-left-radius: 8px;
    }

    &:nth-child(2) {
      width: 160px;
    }

    &:last-child {
      border-right: 1px solid var(--page-color-gray);
      border-top-right-radius: 8px;
      width: 90px;
    }
  }

  & td {
    padding: 10px;
    background-color: var(--page-color-white);
    border-bottom: 1px solid var(--page-color-gray);
    color: var(--page-color-black);
    font-size: 14px;
    font-weight: 400;
    line-height: 17.01px;
    text-align: center;

    &:first-child {
      text-align: left;
      padding: 10px 20px;
      border-left: 1px solid var(--page-color-gray);
    }

    &:last-child {
      border-right: 1px solid var(--page-color-gray);
    }
  }

  & tbody tr:nth-child(even) td {
    background-color: rgba(236, 239, 243, 1);
  }

  & tbody tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
  }

  & tbody tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
  }
}
